@keyframes planet-details-reveal {
    0% {left: 100vw}
    100% {left:calc(100vw - 300px)}
}

@keyframes planet-details-hiding {
    0% {left: calc(100vw - 300px);}
    100% {left: 100vw;}
}

/* For ship movement in battle */
@keyframes no-move {
    0% {left: 0%; top: 0%}
    100% {left: 0%; top: 0%}
}
@keyframes move-bottom-right {
    0% {left: 0%; top: 0%}
    100% {left: 100%; top:100%}
}
@keyframes move-bottom-left {
    0% {left: 0%; top: 0%}
    100% {left: -100%; top:100%}
}
@keyframes move-top-right {
    0% {left: 0%; top: 0%}
    100% {left: 100%; top:-100%}
}
@keyframes move-top-left {
    0% {left: 0%; top: 0%}
    100% {left: -100%; top:-100%}
}
@keyframes move-right {
    0% {left: 0%}
    100% {left: 100%}
}
@keyframes move-left {
    0% {left: 0%}
    100% {left: -100%}
}
@keyframes move-bottom {
    0% {top: 0%}
    100% {top: 100%}
}
@keyframes move-top {
    0% {top: 0%}
    100% {top: -100%}
}