/* menu style */
rigel-menu {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
}

rigel-menu::before {
    position: absolute;
    content: " ";
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background-color: black;
    opacity: 60%;
}

rigel-menu::after {
    position:absolute;
    content: "Regent Of Rigel";
    color: white;
    font-size: 10vh;
    top: 5vh;
    left: 50%;
    transform: translateX(-50%);
}

rigel-menu > input[type="button"] {
    position: absolute;
    opacity: 100%;
    font-size: 1rem;
    border-radius: 0%;
    left: 40vw;
    width: 20vw;
    height: 10vh;
}

rigel-menu > input:nth-child(1) {
    top: 20vh;
}
rigel-menu > input:nth-child(2) {
    top: 30vh;
}
rigel-menu > input:nth-child(3) {
    top: 40vh;
}
rigel-menu > input:nth-child(4) {
    top: 50vh;
}
rigel-menu > input:nth-child(5) {
    top: 60vh;
}
rigel-menu > input:nth-child(6) {
    top: 70vh;
}

.hidden {
    display: none;
}