rigel-starfield {
    position: absolute;
    clip-path: fill-box;
    left: 0px;
    top: 0px;
    width: 100rem;
    height: 100rem;
    background-color: purple;
}

rigel-starsystem {
    position: absolute;
    color:white;
    background-color: white;
    border-radius: 100%;
    width: 2rem;
    height: 2rem;
}

rigel-starsystem::after {
    position: absolute;
    white-space: nowrap;
    top: 100%;
    left: 50%;
    transform: translate(-50%, 5px);
    content: attr(name);
}

rigel-starsystem.selected::before {
    position:absolute;
    content: url(/media/icons/world-brackets.svg);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -45%);
}

.planet-details {
    position: relative;
    overflow-y: visible;
    animation-name: planet-details-reveal;
    animation-duration: 1s;
    left: calc(100vw - 20rem);
    width: 20rem;
    height: 90vh;
    background-color: grey;
    outline: white solid 2px;
}

.planet-details.hidden {
    display: block;
    animation-name: planet-details-hiding;
    animation-duration: 1s;
    left: calc(100vw + 2px);
}

.planet-details > .planet-name {
    position: absolute;
    text-align: center;
    top: -22px;
    width: 100%;
    background-color: darkslategrey;
    color: white;
}

.planet-details > .toggle-details {
    position: relative;
    background-color: grey;
    outline: white solid 2px;
    color: white;
    width: 35px;
    height: 35px;
    font-size: 64px;
    left: -37px;
    top: 1px;
}

.toggle-details-symbol {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: yellow;
    border-radius: 100%;
    width: 30px;
    height: 30px;
}

icon.unlocked {
    height: 1rem;
    content: url(/media/icons/AJ_Padlock_Silhouette_2.svg);
}

icon.locked {
    height: 1rem;
    content: url(/media/icons/AJ_Padlock_Silhouette.svg);
}

.planet-details .planet-summary {
    position: relative;
}

.planet-details .planet-summary>img {
    position: absolute;
    width: 4rem;
    height: 4rem;
}

.planet-details .planet-summary .resource {
    position: absolute;
    left: 6rem;
    top: 0rem;
    width: 14rem;
}

.planet-details .planet-summary .max-population::after {
    content: "mil"
}

.planet-details .planet-summary>.line1 {
    position:absolute;
    left: 4rem;
    top: 1rem;
}
.planet-details .planet-summary>.line2 {
    position:absolute;
    left: 4rem;
    top: 2rem;
}
.planet-details .planet-summary>.line3 {
    position:absolute;
    left: 4rem;
    top: 3rem;
}

.planet-details .planet-resources {
    position: relative;
    top: 4.5rem;
}
.planet-resources .production {
    position:absolute;
    top: 1rem;
    width: 100%;
}
.planet-resources>label {
    position:absolute;
}
.planet-resources .production>div {
    position: relative;
    opacity: 0.7;
    transition: opacity 0.2s;
}

.planet-resources .production>div:hover {
    opacity: 1;
}

.planet-resources .production>div>label {
    width: 4rem;
}
.planet-resources .production>div>label.output {
    position: absolute;
    left: calc(100% - 3.5rem);
}

.planet-resources input[type="range"] {
    position: absolute;
    /* appearance: none; */
    width: calc(100% - 8rem);
    top: 50%;
    left: calc(4rem);
    transform: translate(0%, -50%);
    height: 25px;
    outline: none;
}

.planet-resources .population {
    position: absolute;
    width: 50%;
    height: fit-content;
    top: 0px;
    left: 0%;
}

.planet-resources .missile-bases {
    position: absolute;
    width: 50%;
    height: fit-content;
    top: 0px;
    left: 50%;
}

.planet-details .planet-actions {
    position: absolute;
    width: 100%;
    top: calc(125px + 8rem);
}
.planet-actions button {
    position: absolute;
    left: 9rem;
    height: 3rem;
    font-size: 1rem;
}
.planet-actions button:nth-child(2) {
    top: 3rem;
}
.planet-actions button:nth-child(3) {
    top: 6rem;
}

ship-selection {
    position: absolute;
    width: 9rem;
    height: 9rem;
    text-align: center;
    overflow: hidden;
}
  
ship-carousel {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;

    /*
    scroll-snap-points-x: repeat(300px);
    scroll-snap-type: mandatory;
    */
}

ship-carousel > ship {
    scroll-snap-align: start;
    flex-shrink: 0;
    width: 9rem;
    height: 9rem;
    margin-right: 50px;
    border-radius: 10px;
    transform-origin: center center;
    transform: scale(1);
    transition: transform 0.5s;
    position: relative;
    
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: darkslategrey;
}
ship-carousel > ship::before {
    position:absolute;
    content: " ";
    background-color: aqua;
    clip-path: var(--starship-shape1);
    /* left: 50%; */
    top: 0.5rem;
    /* transform: translateX(-50%); */
    width: 100%;
    height: 6rem;
}
ship-carousel > ship::after {
    position: absolute;
    content: attr(name);
    color: white;
    height: 2rem;
    width: 100%;
    top: 7rem;
    font-size: 1.5rem;
}

button-bar {
    position: absolute;
    top: 90vh;
    width: 100vw;
    height: 10vh;
}
button-bar>input[type="button"] {
    position:absolute;
    font-size: 1rem;
    height: 10vh;
    width: 12.5vw;
    border-radius: 0%;
}
button-bar>input:first-child {
    left:0vw;
}
button-bar>input:nth-child(2) {
    left:12.5vw;
}
button-bar>input:nth-child(3) {
    left:25vw;
}
button-bar>input:nth-child(4) {
    left:37.5vw;
}
button-bar>input:nth-child(5) {
    left:50vw;
}
button-bar>input:nth-child(6) {
    left:62.5vw;
}
button-bar>input:nth-child(7) {
    left:75vw;
}
button-bar>input:nth-child(8) {
    left:87.5vw;
}